BOT_TOKEN=8663212255:AAGrQTpEaSxn1zdqnMeKUNWSlIQzm3lN8Hk
OPENAI_API_KEY=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
